@media only screen and (max-width: 600px) {
	*{
		transition:0s;
	}
  .intro-name {
    font-size: 2.5rem;
  }
  .media-items {
    padding: 1rem;
    height: 450px;
    width: 100%;
    display: grid;
    place-items: center;
  }
  h1.brand-name {
    font-size: 1.5rem;
  }
  video#vid1 {
    right: 0;
  }
  @keyframes intro-sect {
    to {
      width: 100%;
    }
  }
  .quran-item {
    flex: 1 1 100%;
  }
  .quran-ayat-item-wrapper {
    margin: 0;
  }
  .intro-section-item {
    width: 100%;
  }
  .namaz-timetable-wrapper > div {
    border: 0.5px gray solid;
    padding: 0.8rem;
    flex: 1 1 25%;
    width: 25%;
    background: white;
  }
  .logo-name {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    flex-direction: column;
  }
  .social-link-wrapper {
    bottom: 1rem;
  }
  .media-items-1 {
    background-color: var(--s-clr);
    height: fit-content !important;
    clip-path: none;
  }
  .media-items > h1 {
    font-size: 3rem;
    color: white;
  }
}
@media only screen and (max-width: 600px) {
  .lang-link-wrapper {
    /* display: none; */
  }
  section.quran-ayat-window {
    display: none;
  }
  .quran-ayat-item-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 69%;
    flex: 0 1 100%;
  }
  .social-link-wrapper {
    bottom: 1rem;
    display: none;
  }
  .block {
    display: block !important ;
  }
  .hide {
    display: none !important ;
  }
  section.quran-wrapper {
    display: flex;
    height: 90vh;
    flex-wrap: wrap;
  }
  section.quran-ayat-window.block {
    width: 100%;
  }
.quran-nav-wrapper {
    width: 100%;
    position: fixed;
    top: 55px;
}
.quran-nav-item.quran-asat {
    background: darkslategray;
    padding: 0.5rem;
    padding-top: 0;
    overflow: hidden;
    height: 76px;
	transition:0.4s !important;
}
section.quran-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    height: fit-content;
    padding-top: 57px;
}
.toggle-button {
    width: 30px;
    height: 30px;
    background: white;
    position: absolute;
    right: 0;
    bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0.5rem;
	display:block;
}
.toggle-button::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0de";
    position: absolute;
    top: -50%;
    right: -1px;
    width: 100%;
    height: 100%;
    text-align: center;
	font-size:1.5rem;
}
.toggle-button::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d7";
    position: absolute;
    top: 10%;
    right: -1px;
    width: 100%;
    height: 100%;
    text-align: center;
	font-size:1.5rem;
	transition-delay:1.5s;
	transition:0.4s;
}

.toggle-js::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d7";
    position: absolute;
    top: 70%;
    right: -1px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
}
.toggle-js::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0de";
    position: absolute;
    top: 27%;
    right: -1px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
}
}
